// _Footer.scss
@import 'variables';

.page-footer {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.page-footer a {
  color: $anchorDarkBackground;
}

.page-footer div {
  margin: 0 2%;
} 

.page-footer ul{
  list-style-type: none;
  padding-inline-start: 2%;
}

.ul-contact-footer i::before {
  margin: 0 5px 0 0;
  list-style-type: none;
}
